@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}

.text{
    width: 60%;

}
h1{
width: 100%;
color: tomato;
text-align: center;
}
h2{
width: 100%;
color: dodgerblue;
text-align: center;
}
p{
    width: 100%;
    text-align: justify;
}





